* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}


/* Header and Navigation */

.header {
    background-color: #fff8f3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;

}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.text-primary {
    color: #FD6E0A;
}

.btn {
    color: #FFFFFF;
    /* height: 64px; */
    /* width: 79px; */
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    padding: 18px;
}

/* Banner Styles */
.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20PX;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/* About section style */
main {
    max-width: 1140px;
    margin: 0 auto;
}

.about {
    margin-top: 130px;
    background-color: #fff8f3;
    border-radius: 10px;
    text-align: center;
    padding: 130px 150px;
}

.section-title {
    font-weight: 700;
    font-size: 35px;

    margin-bottom: 30px;
}

.section-description {
    color: #757575;
    color: 18px;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about .info-title {
    font-size: 28px;
    color: #757575;
}

.info-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;

}